* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('/components/Navbar/planet.png'); */
}


.leaflet-container {
  height: 70vh;
  z-index: 5;
}


.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  padding: 10px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* -------------NAVBAR------------- */
.NavbarItems {
  background: url(./components/Navbar/sea3.jpg);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;

}

.logoForma{
  border-radius: 50%;
  height: 5rem;
  margin-left: 0.4rem;
  margin-right: 0.5rem;
}        

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    flex: 1;
    width: 100%;
    margin-right: 2rem;
    margin-top: 25px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  z-index: 10;
}


.nav-links:hover {
  background-color: #34c5e9;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;

}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
 
}

.menu-icon {
  display: none;
}

div.logout_section{
  margin-right: 1rem;
}
.btn--medium{
  padding: 4px 8px !important;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
      position: relative;
  }

  .logoForma{
    position: absolute;
    margin-right: 3.5rem;
    height: 5rem;
    width: 5rem;

  }        
  

  div.logout_section{
    position: absolute;
    right: -0.5rem;
    padding: 4px 3px;
    color: #fff;
  }
  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-menu.active {
      background: #40c4e6;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
      margin-top: 0px ;
  }

  .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .nav-links:hover {
      background-color: #34b5f1;
      border-radius: 0;
  }

  .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 0px;
    transform: translate(50%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
      color: #fff;
      font-size: 2rem;
  }

  .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #4ad9e4;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
      background: #fff;
      color: #2b85ec;
      transition: 250ms;
  }

  Button {
      display: none;
  }
}



@media(max-width : 450px){
  img.logoForma_{
    height: 2rem;
    width: 3rem;
  }
  .table th{
    padding: 0 !important;
  }
  div.logout_section{
    width: 6rem;
  }
}