body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.puntuacionEstrellas {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.puntuacionEstrellas a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.puntuacionEstrellas a {
	color:rgb(227, 240, 44);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.puntuacionEstrellas > a:hover ~ a {
	color: #888;
}

.box.h1 {
  width: 300px;
    font-size: 20px;
    margin: 0 0 1rem 0;
  
}
.w-6 {
  width: 1.5em;
}
.h-6 {
  height: 1.5em;
}
.flex {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}